.create-project__container {
  .breadcrumb__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: #38414a26 0px 1px 2px 0px;
  }
  .create-project__body {
    background-color: #f3f3f9;
    display: flex;
    flex-grow: 1;
    .create-project__form {
      width: 100%;
      display: flex;
      .create-project__form-left {
        width: 66%;
        padding-right: 12px;
        .create-project__background {
          background-color: #fff;
          border-radius: 8px;
          padding: 12px;
          .create-project__form-text {
            color: #495057;
            font-weight: 500;
            line-height: 19.5px;
            padding: 16px 0;
            border-bottom: 1px solid #e9e9e9;
          }
          .create-project__wrapper {
            .create-project__form-title {
              font-size: 13px;
              font-weight: 500;
              line-height: 19.5px;
              margin-bottom: 8px;
            }
            .create-project__form-input {
              .MuiInputBase-input {
                font-size: 13px;
                padding: 8px 14.4px;
              }
            }
          }
        }
      }
      .create-project__form-right {
        padding-left: 12px;
        width: 40%;
        .create-project__background {
          background-color: #fff;
          border-radius: 8px;
          .create-project__form-text {
            color: #495057;
            font-weight: 500;
            line-height: 19.5px;
            padding: 16px;
            border-bottom: 1px solid #e9e9e9;
          }
          .create-project__wrapper {
            padding: 16px;
            .create-project__form-title {
              font-size: 13px;
              font-weight: 500;
              line-height: 19.5px;
              margin-bottom: 8px;
            }
            .create-project__form-input {
              .MuiInputBase-input {
                font-size: 13px;
                padding: 8px 14.4px;
              }
            }
            .team-members__avatar {
              margin-left: -12px;
              border: 1px solid #fff;
              transition: all 0.2s;
              height: 30px;
              width: 30px;
              &:hover {
                transform: translatey(-2px);
                z-index: 1;
              }
            }
            .team-members__add {
              border: 1px solid #fff;
              margin-left: -12px;
              transition: all 0.2s;
              border-radius: 50%;
              height: 30px;
              width: 30px;
              z-index: 1;
              background-color: #f3f6f9;
              color: #405189;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              &:hover {
                transform: translatey(-2px);
              }
            }
          }
        }
      }
    }
  }
}

.add-member-modal__header {
  display: flex;
  justify-content: space-between;
  background-color: #daf4f0;
  padding: 16px 16px 16px 24px;
  .add-member-modal__header-title {
    font-size: 16.25px;
    font-weight: 600;
    line-height: 24px;
    color: #495057;
  }
}

.create-project__form-title-add {
  &.MuiTypography-root {
    font-size: 13px;
    line-height: 19.5px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  color: #878a99;
}

.ri-upload-cloud-2-fill {
  font-size: 3.5rem;
  color: #878a99;
}
.attached-file-text {
  &.MuiTypography-root {
    font-size: 16.5px;
    font-weight: 500;
    line-height: 19.5px;
    margin-bottom: 8px;
    color: #495057;
  }
}

.search__input {
  .MuiInputBase-input {
    font-size: 0.8125rem;
    padding: 4px 14px;
  }
}

.team-members__avatar {
  margin-left: -12px;
  border: 1px solid #fff;
  transition: all 0.2s;
  &:hover {
    transform: translatey(-2px);
    z-index: 1;
  }
}

.btn__invite {
  &.MuiButtonBase-root {
    padding: 8px 14px;
    background-color: #0ab39c;
    border: 1px solid #0ab39c;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    margin-left: 12px;
    text-transform: capitalize;
  }

  &:hover {
    background-color: #099885;
    border: 1px solid #0ab39c;
  }
}

.btn__cancel {
  &.MuiButtonBase-root {
    padding: 8px 14px;
    background-color: #f3f6f9;
    border: 1px solid #f3f6f9;
    border-radius: 4px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    margin-left: 12px;
    text-transform: capitalize;
    &:hover {
      background-color: #e9e9e9;
      border: 1px solid #e9e9e9;
    }
  }
}

.btn__create {
  &.MuiButtonBase-root {
    padding: 8px 14px;
    background-color: #0ab39c;
    border: 1px solid #0ab39c;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    margin-left: 12px;
    min-width: 95px;
    text-transform: capitalize;
  }

  &:hover {
    background-color: #099885;
    border: 1px solid #0ab39c;
  }
}

.btn-form__cancel {
  &.MuiButtonBase-root {
    padding: 8px 14px;
    background-color: #3399ff;
    border: 1px solid #3399ff;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    margin-left: 12px;
    text-transform: capitalize;
    &:hover {
      background-color: #49a4ff;
      border: 1px solid #49a4ff;
    }
  }
}
