@media screen and (max-width: 600px) {
  .project__container {
    .breadcrumb__container {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .create-project__container {
    .create-project__body {
      .create-project__form {
        flex-direction: column;
        .create-project__form-left {
          width: 100% !important;
          padding: 0 !important;
        }
        .create-project__form-right {
          padding: 0 !important;
          margin-top: 24px;
          width: 100% !important;
        }
      }
    }

    .btn-form-desktop__container {
      display: none;
    }
    .btn-form-mobile__container {
      display: flex;
      padding: 0;
    }
  }
}

.project {
  &__container {
    flex: 1;
    .breadcrumb {
      &__container {
        display: flex;
        justify-content: space-between;
        padding: 10px 24px;
        border-bottom: 1px solid #e9e9e9;
        box-shadow: #38414a26 0px 1px 2px 0px;
      }
    }
    .projects-list {
      &__container {
        padding: 24px;
        height: 100%;
        background-color: #f3f3f9;
        .search {
          &__container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            .add-new-project {
              &__container {
                background-color: #0ab39c;
                padding: 8px 14px;
                border: 1px solid #0ab39c;
                border-radius: 4px;
                &:hover {
                  background-color: #099885;
                  border: 1px solid #0ab39c;
                }
                .add-new-project {
                  &__button {
                    &--text {
                      color: #fff;
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.project-card {
  &__header {
    display: flex;
    justify-content: end;
    position: relative;
    height: 96px;
    .ri-star-fill {
      font-size: 0.9rem;
    }
    .text-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 32px;
    }
  }
}

.project-card {
  &__content {
    .linear-progress {
      border-radius: 6px;
      height: 6px;
      .MuiLinearProgress-bar {
        background-color: #0ab39c;
      }
    }
    .project-card {
      &__title {
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        overflow: hidden;
        height: 16px;
      }
      &__text {
        color: #878a99;
        font-size: 13px;
        line-height: 19.5px;
        margin-bottom: 4px;
      }
      &__deadline {
        font-size: 14px;
        font-weight: 500;
        color: #495057;
        line-height: 16.8px;
      }
    }
  }
}

.team-members {
  &__container {
    margin-top: 1rem;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    .team-members {
      &__title {
        color: #878a99;
        font-size: 13px;
        line-height: 19.5px;
      }
      &__avatar {
        margin-left: -12px;
        border: 1px solid #fff;
        transition: all 0.2s;
        height: 24px;
        width: 24px;
        &:hover {
          transform: translatey(-2px);
          z-index: 1;
        }
      }
      &__add {
        border: 1px solid #fff;
        margin-left: -12px;
        transition: all 0.2s;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        z-index: 1;
        background-color: #f3f6f9;
        color: #405189;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          transform: translatey(-2px);
        }
      }
    }
  }
}

.status {
  padding: 4.2px 7.8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 11.4px;
  border-radius: 4px;
  &--completed {
    background-color: #daf4f0;
    color: #0ab39c;
  }
  &--inprogress {
    background-color: #fef4e4;
    color: #f7b84b;
  }
}
