.team__container {
  .breadcrumb__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: #38414a26 0px 1px 2px 0px;
  }
  .member-list__container {
    padding: 24px;
    background-color: #f3f3f9;
    .search__container {
      background-color: #fff;
      padding: 1rem;
      margin-bottom: 1.5rem;
      border-radius: 0.25rem;
      display: flex;
      justify-content: space-between;
      height: 71px;
      .search__input {
        .MuiInputBase-input {
          font-size: 0.8125rem;
          padding: 0;
        }
      }
      .add-member__container {
        background-color: #0ab39c;
        padding: 8px 14px;
        border: 1px solid #0ab39c;
        border-radius: 4px;
        &:hover {
          background-color: #099885;
          border: 1px solid #0ab39c;
        }
        .add-member__button--text {
          color: #fff;
          font-size: 13px;
        }
      }
    }
  }
}

.btn-add-member {
  &.MuiButtonBase-root {
    background-color: #0ab39c;
    padding: 8px 14px;
    border: 1px solid #0ab39c;
    border-radius: 4px;
    font-weight: normal;
    &:hover {
      background-color: #099885;
      border: 1px solid #0ab39c;
    }
  }
  &.MuiButton-text {
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
  }
}

.btn-close {
  &.MuiButtonBase-root {
    background-color: #f3f3f9;
    border: #f3f3f9;
    color: black;
    text-transform: capitalize;
    font-weight: normal;

    &:hover {
      background-color: #e9e9e9;
      border: #e9e9e9;
    }
  }
}

.text-field {
  .MuiInputBase-input {
    font-size: 0.8125rem;
    padding: 8px 14px;
  }
}

.add-avatar-icon {
  background: #eff2f7;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9ebec;
  .ri-image-fill {
    font-size: small;
    color: #878a99;
  }
}

.delete-member-modal__container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  .delete-member-modal__header {
    padding: 20px 20px 0 20px;
    text-align: right;
    .MuiButtonBase-root {
      padding: 0;
    }
  }
  .delete-member-modal__body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .delete-member-modal__body-text {
      margin: 24px 48px 0 48px;
      text-align: center;
      .delete-member-modal__body-text-title {
        font-size: 0.8125rem * 1.5;
        color: #495057;
      }
      .delete-member-modal__body-text-description {
        margin-top: 10px;
        color: #878a99;
      }
    }
  }
}

.member-modal__container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  overflow: hidden;
  .member-modal__header {
    background-image: url("https://via.placeholder.com/600x400");
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    .member-modal__avatar {
      width: 90px;
      height: 90px;
      background-color: #f0f0f0;
      border-radius: 50%;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 10px solid #f3f3f9;
    }
  }
}

.dropdown-menu {
  .dropdown-item {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5.6px 19.2px;
    font-size: 0.8125rem;
    width: 150px;
    .ri-pencil-line {
      font-size: 0.8125rem;
    }
    .ri-delete-bin-5-line {
      font-size: 0.8125rem;
    }
  }
}
